#content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.project-item, .btn-item {
    border: 1px solid orangered;
    cursor: pointer;
    margin: 20px 0;
}
.btn-item {
    cursor: auto;
}
#project-list {
    border: 1px solid blueviolet;
    /* min-height: 50vh; */
}
#task-list {
    border: 1px solid blueviolet;
    /* min-height: 50vh; */
}