/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  Matt's CSS Normalize 
  https://mattbrictson.com/blog/css-normalize-and-reset
*/
/* h1, h2, h3, h4, h5 { */
  /* font-size: inherit; */
  /* font-weight: inherit; */
/* }  */
ul {
  list-style: none;
  padding-inline: 0;
}


/* MDN's Styling forms : */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}


input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}


#content {
  flex: 1;
    display: flex;
    /* grid-template-columns: 1fr 4fr; */
}
.project-item{
    border: 1px solid orangered;
    cursor: pointer;
    margin: 20px 0;
    /* height: 100px; */
    min-width: fit-content;
}
#btn-item {
    cursor: auto;
}
#project-list {
    border: 1px solid blueviolet;
    /* min-height: 50vh; */
}
#task-list {
    border: 1px solid blueviolet;
    /* min-height: 50vh; */
}

input {
    width: 80%;
}

.backdrop {
    display: none;
    position: fixed;
    width:100vw;
    height:100vh;
    cursor:pointer;
    background:#00000088;
    top: 0;
  }
  .backdrop.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal, .expand-modal {
    background: #ffffff;
    min-width:30vw;
    min-height: 30vh;
    cursor:initial;
  }


/* The Modal (background) */
.modal, .expand-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content, .modal-expand-content {
    /* background-color: #fefefe; */
    margin: auto;
    /* padding: 20px; */
    /* border: 1px solid #888; */
    width: 350px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Forms */ 
  form input, form textarea, form select {
    width: 100%;
    padding: 6px;
    margin-top: 6px;
  }

  form select { 
    width: 100%;
  }

  form {
    padding: 20px;
    background-color: #ffffff;
  }
  
  label {
    font-weight: 900;
  }

  form button[type="submit"], form button[type="reset"] {
    background-color: rgb(9, 155, 106);
    width: 30%;
    border-style: none;
    padding: 10px 0px;
    color: #fff;
    margin-top: 16px;
    border-radius: 4px;
    font-weight: 600;
  }

  form button[type="reset"] {
    background-color: rgb(155, 31, 9);
  }

  form button[type="reset"]:hover {
    background-color: rgb(83, 17, 4);
    cursor: pointer;
  }

  form button[type="submit"]:hover {
    background-color: rgb(4, 83, 57);
    cursor: pointer;
  }

  form input[type=text]:focus, form textarea:focus {
    border: 3px solid #555;
  }
/* 
  .modal-content, .modal-expand-content {
    /* width: 450px; 
  } */

  

  #task-specify {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  #task-form-button , #task-expand-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  input[type="checkbox"] {
    width: 15px;
  }

  .task-item {
    display: flex;
    padding: 6px;
    margin: 6px;
    gap: 6px;
    justify-content: flex-start;
    max-width: 35em;
    min-width: fit-content;
  }

  span:nth-child(2) {
    flex: 1;
    /* flex-shrink: 0; */
  }

  #project-delete, #project-add, #task-add, .task-expand {
    background: url(./icons/trash.svg);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
  }
  .project-item {
    display: flex;
    justify-content: space-between;
  }

  .project-item h2 {
    font-size: 1.2rem;
  }
  #project-add, #task-add  {
    background: url(./icons/plus-circle.svg);
    background-repeat: no-repeat;
  }
  .task-expand {
    background: url(./icons/maximize.svg);
    background-repeat: no-repeat;
  }
  #add-project-item, #add-task-item {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;

  }
  #project-list {
    flex: 1;
    padding: 6px;
  }
  #task-list {
    flex: 3;
    padding: 6px;
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }